@import 'compass'
@import 'compass/reset'

$base_color: #be0008
$page_width: 960px
$font_color: #111

nav.naver
  +clearfix
  +background-image(linear-gradient(top, darken($base_color,10), darken($base_color,20)))
  a
    text-decoration: none
    display: block
    padding: 10px 20px
    margin-left: 0px
    color: $font_color
    border-style: solid 
    border-color: $base_color
    border-width: 1px
    border-right-style: none
    border-left-style: none
    border-bottom-style: none
    border-collapse: collapse
  .naver-handle,a
    color: #FFF
    font-weight: bold
    letter-spacing: 0.1em

footer
  /* +background-image(linear-gradient(top, darken($base_color,0), darken($base_color,10))) */
  background: $base_color
  margin: 50px 0px 0px 0px
  padding: 50px
  +box-sizing(border-box)
  text-align: center
  font-weight: 700
  &,a
    color: white

#news
  h2.title
    +background-image(linear-gradient(top, darken($base_color,0), darken($base_color,10)))
    padding-left: 20px
    color: #FFF
    font-weight: 300
    line-height: 1.5em
    letter-spacing: 0.2em
    margin-bottom: 10px
  ul
    padding: 0px 20px
  strong.title
    font-weight: 700
    display: block
    margin-bottom: 5px
  p
    line-height: 1.2em
    letter-spacing: 0.1em
  .news-container
    overflow-y: auto
    height: 280px

.page-container
  background: url('./ra-back.png')
  min-height: 1050px
  header
    h1
      height: 57px
      width: 204px
      text-indent: -9999px
      margin: auto
    .logo
      display: none
  article
    h2
      color: $base_color
      margin: 0px 0px 10px 0px
    p
      margin: 0px 0px 10px 0px
    section.images
      margin: 30px auto
      text-align: right
      padding-right: 60px
      img
        margin-left: 30px

.cast-container.page-container, .staff-container.page-container
  article
    h1 
      color: $base_color
    h2
      color: $font_color
      margin: 0px 0px 0px 0px
      small
        display: block

@media only screen and (min-width: 960px), only screen and (mn-device-width: 960px)
  nav
    a
      display: inline-block
      float: left

  .container
    margin:
      left: auto
      right: auto
    width: $page_width

  .video-container
    iframe
      width: $page_width
      height: $page_width * (240px/320px)

  .page-container
    background: url('./ra-back.png')
    padding-bottom: 100px
    header
      height: 180px
      position: relative
      h1
        height: 57px
        width: 204px
        text-indent: -9999px
        position: absolute
        top: 40px
        left: 40px
      .logo
        display: block
        position: absolute
        top: 40px
        right: 85px
        height: 155px
        width: 115px
        text-indent: -9999px
        background-image: url('./ra.png')

  .cast-container
    header
      h1
        background-image: url("./cast.png")

  .staff-container
    header
      h1
        background-image: url("./staff.png")
        height: 67px
        width: 234px

  .story-container, .intro-container, .comment-container
    article
      padding: 0px 50px

    header
      h1
        background-image: url("./title_story.png")
        height: 57px
        width: 226px
        left: auto
        right: 86px
      .logo
        right: auto
        left: 40px
      background: url("./story/WEBhosei_MG_6125.png") no-repeat 200px 130px
      height: 370px
  .intro-container
    header
      background: url("./intro/WEB_MG_6970.png") no-repeat 200px 130px
      h1
        background-image: url("./title_intro.png")
        height: 47px
        width: 413px
  .comment-container
    header
      background: url("./comment/WEBMG_6916.png") no-repeat 200px 130px
      h1
        background-image: url("./title_comment.png")
        height: 45px
        width: 268px
        top: 40px
        left: 40px
        right: auto
      .logo
        top: 40px
        right: 85px
        left: auto
      background-position: 60px 130px
    h2
      small
        display: block
        font-size: small
        padding: 10px 0px
    section.list
      +clearfix
      padding: 0px 50px
      article
        padding: 10px
        width: 400px
        float: left
        section.content
          line-height: 1.2em
  .cast-container, .staff-container
    .cast-group, .staff-group
      margin-top: 70px
    .cast, .staff
      .image
        display: table-cell
      .description
        display: table-cell
        vertical-align: top
        h1
          font-size: large
          margin-bottom: 10px
        h2
          font-size: large
          small
            margin-top: 7px
            font-size: small
    .cast.cast-1, .staff.staff-1
      .image
        padding-left: 150px
      .description
        padding-left: 20px
        padding-right: 50px
      h1
        margin-bottom: 20px
      h2
        margin-bottom: 20px
    .staff.staff-2, .staff.staff-3, .staff.staff-4, .staff.staff-5
      h2
        margin-bottom: 20px
    .cast.cast-2,
    .cast.cast-5,
    .staff.staff-2,
    .staff.staff-4,
    .staff.staff-6,
    .staff.staff-7,
    .staff.staff-11,
    .staff.staff-15,
    .staff.staff-19
      padding-left: 100px
    .cast.cast-2, .cast.cast-3, .cast.cast-4
      display: table-cell
      width: 280px
      .description
        padding-left: 15px
    .cast.cast-5, .cast.cast-6, .cast.cast-7, .cast.cast-8, .cast.cast-9
      display: table-cell
      width: 190px
      .image
        display: block
    .staff.staff-2, .staff.staff-3, .staff.staff-4, .staff.staff-5
      display: table-cell
      width: 400px
      vertical-align: top
      padding-right: 30px
    .staff.staff-7, .staff.staff-8, .staff.staff-9, .staff.staff-10,
    .staff.staff-11, .staff.staff-12, .staff.staff-13, .staff.staff-14,
    .staff.staff-15, .staff.staff-16, .staff.staff-17, .staff.staff-18,
    .staff.staff-19, .staff.staff-20, .staff.staff-21, .staff.staff-22
      display: table-cell
      width: 280px
      vertical-align: top
    .staff.staff-20
      h2
        font-size: small
    .staff.staff-22
      h2
        line-height: 1.2em
