$cols: 60
$gutter: 2%

$one_col: (100% - ($gutter * ($cols - 1))) / $cols

=cols($num)
  width: ($one_col * $num) + ($gutter * ($num - 1))

=sub_cols($num_child, $num_parent: $cols)
  $parent_size: ($one_col * $num_parent) + ($gutter * ($num_parent - 1))
  $child_size: ($one_col * $num_child) + ($gutter * ($num_child - 1))
  margin-left: ($gutter / $parent_size) * 100%
  width: ($child_size / $parent_size) * 100%
@function gutter( )
  @return $gutter
  
=gridRow()
  +clearfix
  & > div
    float: left
    margin-left: $gutter
  & > :first-child,
    margin-left: 0
=gridCol($num)
  +cols($num)
=gridSubCol($num,$parent)
  +sub_cols($num,$parent)
